.education-heading {
  font-size: 56px;
  font-weight: 400;
}

.education-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 0px;
  margin: 0px auto;
  margin-top: 2rem;
}

.education-section > * {
  flex: 1;
  margin-bottom: 30px;
}

@import "../../_globalColor";
/* Timeline Chart styles for Education section */
.education-timeline {
  position: relative;
  padding-left: 2rem;
  padding-top: 20px;
}

.education-timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1rem;
  bottom: 0;
  width: 2px;
  background: $lightBorder1;
}

.timeline-item {
  position: relative;
  margin-bottom: 2rem;
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: $appLink;
}

@media (max-width: 1380px) {
  .education-timeline {
    padding-top: 0px;
  }
  .education-heading {
    font-size: 40px;
  }
  .education-text-subtitle {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .education-timeline {
    padding-top: 0px;
  }
  .education-heading {
    font-size: 30px;
    text-align: center;
  }
  .education-text-subtitle {
    font-size: 16px;
  }
}
