@import "../../_globalColor";

.achievement-heading, .publication-heading {
  font-size: 56px;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

.achievement-subtitle, .publication-subtitle {
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 50px;
}

.subTitle {
  color: $subTitle;
}

.achievement-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 1rem;
}

.publication-cards-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.achievement-main-div, .publication-main-div {
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
  margin-bottom: 4rem;
  padding: 20px 10px;
}

.publication-header {
  margin-top: 4rem;
}

/* Media Query */
@media (max-width: 1380px) {
  .achievement-heading, .publication-heading {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .achievement-heading, .publication-heading {
    font-size: 30px;
    text-align: center;
  }
  
  .achievement-subtitle, .publication-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
  
  .achievement-main-div, .publication-main-div {
    padding: 10px;
    margin-bottom: 2rem;
  }
  
  .publication-header {
    margin-top: 2rem;
  }
}